﻿@{
    ViewData["Title"] = "Index";
}

@*@if (signinmanager.IsSignedIn(User))
{*@

<div class=container>
    <div class="row">
        <div class="col-md-12" style="padding-top: 1em;">
            <h3 style="color:#003d5e">NUST online voting terms and conditions</h3>
            <ul>
                <li>Online voting is available only through this system</li>
                <li>Online voting is available only for currently registred students </li>
             
                <li>An online vote cannot be withdrawn after it has been submitted</li>
                <li>Every ballot is confidential</li>
                <li>The following information is recorded for audit purposes:</li>
                <ul>
                    @*<li>The Member and individual person submitting the ballot</li>*@
                    <li>The number of votes submitted</li>
                    @*<li>The time the ballot was submitted</li>*@
                    @*<li>The IP address of the voter</li>*@
                    <li>The specific choice exercised by the voter is not linked to any voter’s identity</li>
                    @*<li>A vote verification page listing receipt numbers of all votes submitted. This allows voters to verify that their votes have been submitted anonymously</li>*@
                </ul>
                <li>A ballot that is submitted is deemed to be representative of the Candidate Member in whose name it is submitted.</li>
                @*<li>APNIC takes no responsibility for ballots submitted by individuals who are no longer authorized by the APNIC Member organization.</li>*@
            </ul>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <h6 style="color:#003d5e">Click below to start the voting process</h6>
            </div> 
            <div class="col-md-12">
                <a class="btn btn-outline-primary " asp-area="" asp-controller="Vote" asp-action="President">Start</a>&nbsp; &nbsp;
            </div>
        
         

        </div>
    </div>

</div>


@*}*@