﻿@using Microsoft.AspNetCore.Identity;
@using Nust_Vote_System.ViewModels;
@using Nust_Vote_System.Enums
@*@using OA_DataLayer*@
@*@inject UserManager<ApplicationUser> usermanager
@inject SignInManager<ApplicationUser> signinmanager*@

@model Nust_Vote_System.ViewModels.CadidatesViewModelList


<div class="container">
    <div class="row">

        <div class="col-md-12">

            @if (Model.Cadidates.Count() > 0)
            {
                <div class="col-md-12">


                    <fieldset class="border p-2  mt-4">
                        <legend class="w-auto" style="font-size:14px; color:#EA2948">President Candidates</legend>
                        @foreach (var item in Model.Cadidates)
                        {

                            @if (item.Position == "President")
                            {



                                @*     <div class="col-md-12">
                    @{
                    var counter = @Model.Cadidates.IndexOf(item) + 1;
                    }
                    <label><b> Candidate N0: <span style="color:red">@counter</span> of @Model.Cadidates.Count </b></label>
                    </div>*@
                                <div class="row">
                                    <div class="col-md-4 ">
                                        <div class="row">


                                            <div class="col-md-4">
                                                <label asp-for="@item.FullName" class="control-label"></label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-md-4 form-group">

                                        <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="80px" height="80px" />
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">


                                            <div class="col-md-4">
                                                <label asp-for="@item.StudentNumber" class="control-label"></label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DisplayFor(modelItem => item.StudentNumber)
                                            </div>

                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">


                                            <div class="col-md-4">
                                                <label asp-for="@item.StudyMode" class="control-label"></label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DisplayFor(modelItem => item.StudyMode)
                                            </div>

                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">


                                            <div class="col-md-4">
                                                <label asp-for="@item.Position" class="control-label"></label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DisplayFor(modelItem => item.Position)
                                            </div>

                                        </div>


                                    </div>
                                    <div class="col-md-4">

                                        <div class="btn-group">
                                            <div class="row">


                                                <div class="col-md-8">
                                                    <label class="control-label">Click here to vote</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="btn btn-warning" id="vote" value="@item.Id"><i class="fas fa-person-booth"></i></a>

                                                </div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                            }



                            @*   else
                    {
                    <p>The Are No Presidential Candidates</p>
                    }*@
                        }
                    </fieldset>



                </div>
            }
            else
            {

                <div class="col-md-12">
                    <p class="text-center"> There Are No Candidates</p>
                </div>
            }

        </div>
        <div class="col-md-12" style="padding-top:10px">
            <a class="btn btn-outline-primary " asp-area="" asp-controller="Vote" asp-action="VicePresident">Next</a>&nbsp; &nbsp;
        </div>
    </div>

</div>
<!-- Modal for confirming vote -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: unset !important">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 10px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal_content">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {

      
         
        
            //Edit Rates
            $("#vote").click(function () {
                var text = $(this).attr('value');
                

                console.log("Data in the edit click", text)

                var url = "/Vote/Vote/" + text
                var parameters = { id: text};
                console.log("About to render the function in edit", parameters)

                renderPartialView(url, "modal_content", parameters)
                    .then(function () {
                        $("#myModal1").modal("show");
                    }
                    )
            })
        });
    </script>

}