﻿@using Microsoft.AspNetCore.Identity;
@using Nust_Vote_System.ViewModels;
@using Nust_Vote_System.Enums
@*@using OA_DataLayer*@
@*@inject UserManager<ApplicationUser> usermanager
@inject SignInManager<ApplicationUser> signinmanager*@

@model Nust_Vote_System.ViewModels.CadidatesViewModelList


<div class="container">
    <div class="row">

        <div class="col-md-12">

            @if (Model.Cadidates.Count() > 0)
            {
                <div class="col-md-12">


                    <fieldset class="border p-2  mt-4">
                        <legend class="w-auto" style="font-size:14px; color:#EA2948">Vice President Candidates</legend>
                        @foreach (var item in Model.Cadidates)
                        {

                            @if (item.Position == "Vice_President")
                            {

                                <div class="col-md-12">
                                    @{
                                        var counter = @Model.Cadidates.IndexOf(item) + 1;
                                    }
                                    <label><b> Candidate N0: <span style="color:red">@counter</span> of @Model.Cadidates.Count </b></label>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 ">
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </div>
                                    <div class="col-md-4 ">
                                        <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="50px" height="50px" />
                                    </div>
                                    <div class="col-md-4">

                                        @Html.DisplayFor(modelItem => item.StudentNumber)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DisplayFor(modelItem => item.StudyMode)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DisplayFor(modelItem => item.Position)
                                    </div>
                                    <div class="col-md-4">

                                        <div class="btn-group">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                            @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">  <i class="fas fa-trash-alt"></i></a>*@

                                        </div>
                                    </div>
                                </div>

                            }



                            else
                            {
                                <p>The Are No Vice President Candidates</p>
                            }
                        }
                    </fieldset>



                </div>
            }
            else
            {

                <div class="col-md-12">
                    <p class="text-center"> There Are No Candidates</p>
                </div>
            }

        </div>
    </div>

</div>

