﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="col-md-12">
        <div class="row  justify-content-center d-flex">

            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="display-4">Nust Voting System</h1>
                    <hr />
                
                </div>
            </div>
            <div class="col-md-12 justify-content-center d-flex">
                <div class="col-md-6">
                    <img src="/vote-g63e458085_1920.jpg" style="width:100%" />
                </div>
             

            </div>
            <div class="col-md-8  text-center">
                <p>Welcome to the NUST Voting System </p>

            </div>
        </div>
    </div>

</div>
