@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{

    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/plain-dark-blue-wooden-wall-product-background.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
