* {
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body {
}


.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/nust.jpg);
	background-size: cover;
	background-position: center;
	
		
}
.navbar{
	
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.logo{
	width: 130px;
	cursor: pointer;
	
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background:#E0831A ;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
 	width: 100%;
	
}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
		
}
.content h1{
	font-size: 80px;
	margin-top: 20px;
}
.content p{
	margin:20px auto;
	font-weight: 100;
	line-height: 25px;
	font-size: 20px;
}
button{
	width: 200px;
	padding: 10px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #E0831A;
	background: transparent;
	color: #fff;
	text-decoration:underline;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-size: 24px;
}
span {
	background: #E0831A;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
	
}
button:hover span{
	width: 100%;
}
button:hover {
	border: none;
}
