﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Voting System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          rel="stylesheet" />
    @*cute alert css*@
    <link rel="stylesheet" href="~/lib/cute-alert/style.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
</head>
<body style="background: #F3F3F4;">
    <header style="    background: #1b2c5d;    border-bottom: solid 2px #fcaf17 !important;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light ">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white">Nust Voting System</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-outline-light borderInnit" asp-area="" asp-controller="Home" asp-action="Index">Home</a>&nbsp; &nbsp;
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light borderInnit" asp-area="" asp-controller="Candidate" asp-action="Index">Candidates</a>&nbsp; &nbsp;
                        </li> 
                        <li class="nav-item">
                            <a class="btn btn-outline-light borderInnit" asp-area="" asp-controller="Vote" asp-action="Index">Vote</a>&nbsp; &nbsp;
                        </li>
                    </ul>
                    @*<partial name="_LoginPartial" />*@
                </div>
            </div>
        </nav>  
    </header>


    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer" style="background: #1b2c5d">
        <div class="container" style="color:white">
            &copy; 2022 - Namibia University of Science and Technology . All Rights Reserved. - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toastr.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
