﻿@model Nust_Vote_System.ViewModels.CadidatesViewModel



@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form asp-action="AddCandidate" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StudentNumber" class="control-label"></label>
                            <input asp-for="StudentNumber" class="form-control" type="number"  />
                            <span asp-validation-for="StudentNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Position" class="control-label"></label>
                            <select class="selectpicker form-control" data-style="btn-primary" asp-for="Position">
                                <option value="">Select A Position</option>
                                <option value="President">President</option>
                                <option value="Vice_President">Vice President</option>
                                <option value="Health_Development">Health & Development</option>
                                <option value="Secretary_General">Secretary General</option>
                                <option value="Internal_Affairs">Internal Affairs</option>
                                <option value="Finance">Finance</option>
                                <option value="Information_Publicity"> Information & Publicity</option>
                                <option value="Academic_Affairs"> Academic Affairs</option>
                                <option value="External_Affairs"> External Affairs</option>
                                <option value="Recreation">Recreation </option>
                                <option value="Accommodation">Accommodation</option>

                            </select>


                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="StudyMode" class="control-label"></label>
                            <select class="selectpicker form-control" data-style="btn-primary" asp-for="StudyMode">
                                <option value="">Select Study Mode</option>
                                <option value="Full_Time">Full-Time</option>
                                <option value="Part_Time">Part-Time</option>
                                <option value="Distance">Distance</option>

                            </select>


                        </div>


                        <div class="form-group">

                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" type="file" accept="image/*" />
                            <br>
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>


                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>

                <br><br><br><br>
            </form>

        </div>
         
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>
        function browseClick() {
            document.getElementsByClassName('e-file-select-wrap')[0].querySelector('button').click(); return false;
        }
    </script>
}
