﻿@model Nust_Vote_System.DatatabaseModel.Candidates

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">




        <dl class="col">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StudentNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudentNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Position)
            </dd>


        </dl>
        <dl class="col">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StudyMode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StudyMode)
            </dd>

            <dt class="col-sm-2">
                Candidate Image
            </dt>
            <dd class="col-sm-10">
                <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" width="250px" height="250px" />
            </dd>
        </dl>


        <form asp-action="DeleteConfirm">
            <input type="hidden" asp-for="Id" />
            @*<input type="submit" value="Delete" class="btn btn-danger" />*@
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt fa-2x"></i>
            </button>

            <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-circle-left  fa-2x"></i></a>
        </form>
    </dl>

</div>
